form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

form div {
    margin: 10px;
}

input, select {
    border: 1px solid #ccc;
    padding: 4px;
    line-height: 20px;
    width: 100%;
}

label {
    display: block;
}

input[type="submit"] {
    width: auto;
}