<template>
    <div class="fc-input" data-id="{{id}}">
        <div class="rows">
            {{#each2 value}}
                <div data-row="{{$row}}">
                    <input data-type="value" type="text" value="{{data.value}}"><!--
                    --><span class="fc-remove button dashicons dashicons-minus">
                </div> 
            {{/each2}}
        </div>
        <div><input type="text" id="fc-value"><span id="fc-add" class="button dashicons dashicons-plus"></span></div> 
    </div>
</template>

<script>
{
    onInit: function(values) {
        const self = this;
        fcUtils.select('#fc-add', this.wrapper).on('click', function() {
            const newItem = {
                value: fcUtils.select('#fc-value').value
            };
            values.push(newItem);
            const event = new CustomEvent('update', {detail: {value: values, refresh: true}});
            self.wrapper.dispatchEvent(event);
        });

        fcUtils.selectAll('.fc-remove', this.wrapper).on('click', function() {
            values.splice(this.closest('div').dataset.row, 1);
            const event = new CustomEvent('update', {detail: {value: values, refresh: true}});
            self.wrapper.dispatchEvent(event);
        });

        fcUtils.selectAll('.rows input', this.wrapper).on('input', function() {
            values[this.closest('div').dataset.row][this.dataset.type] = this.value;
            
            const event = new CustomEvent('update', {detail: {value: values}});
            self.wrapper.dispatchEvent(event);
        });
    }
}
</script>